# =========================
# Dependencies
# =========================
node_modules/
.pnp/
.pnp.*
.pnpm-store/
.yarn/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
pnpm-lock.yaml

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Build Outputs
# =========================
dist/
build/
out/
.next/
client/.next/

# =========================
# Coverage
# =========================
coverage/

# =========================
# TypeScript
# =========================
*.tsbuildinfo
next-env.d.ts

# =========================
# Prisma
# =========================
/server/prisma/migrations/
node_modules/.prisma/

# =========================
# Cache / Temp
# =========================
.cache/
.tmp/
temp/

# =========================
# Databases / Dumps
# =========================
dump.rdb

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editors
# =========================
.vscode/
!.vscode/extensions.json
.idea/

# =========================
# Vercel
# =========================
.vercel

# =========================
# Misc
# =========================
*.local
*.pem